.App {
  /* margin: 0rem 0rem;
  padding: 0rem 0rem; */
}

/* Register Page */
.container {
  display: flex;
  /* width: 100vw;
  height: 100vh; */
}

.left_container {
  width: 50vw;
  height: 100vh;
}

h3 {
  color: #000;
  /* font-family: DM Sans; */
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144.023%;
  margin: 3rem 0rem 0rem 5rem;
}
.span_2 {
  color: #525252;
  font-family: DM Sans;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144.023%; /* 1.89031rem */
  margin-left: 5rem;
}

.input {
  width: 35.4375vw;
  height: 8vh;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 2px solid #c2c2c2;
  background: #fff;
  color: #525252;
  font-family: DM Sans;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 144.023%; /* 1.80031rem */
  padding-left: 0.8rem;
  margin: 1rem 0rem 0rem 5rem;
}

.checkbox {
  margin: 1rem 0rem 0rem 5rem;
  background: #858585;
}

.span_3 {
  width: 35.4375vw;
  color: #525252;
  font-family: DM Sans;
  font-size: 0.8rem;  /* 0.8rem*/
  font-style: normal;
  font-weight: 400;
  line-height: 139.688%; /* 1.47131rem */
  letter-spacing: 0.02106rem;
  margin-left: 0.5rem;
}

.create {
  width: 15.3125rem;
  height: 2.99519rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  background: #ed5353;
  color: #fff;
  text-align: center;
  /* justify-content: center; */
  font-family: DM Sans;
  font-size: 1.73706rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144.023%; /* 2.50175rem */
  padding-top: 0.5rem;
  margin: 1.5rem 0rem 0rem 5rem;
  transition: transform 0.3s ease;
  cursor: pointer;
  border: none;
}
.create:hover {
  background: #F43107;
  color: #fff;

}

.signIn {
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 144.023%; /* 1.89031rem */
  text-decoration-line: underline;
  margin-left: 1rem;
  cursor: pointer;
}
.signIn:hover{
  color: #525252;
}

.right_container {
  width: 50vw;
  height: 100vh;
  /* margin: 0rem 0rem 0rem 20rem; */
}

.right_container img {
  width: 50vw;
  height: 100vh;
  /* width: 43.52925rem;
height: 61.41088rem; */
}

/* ## Login Page  */
.header{
  margin-top: 8rem;
}
