.container {
  width: 100vw;
  height: 17vh;
  border-radius: 0rem 0rem 3.875rem 3.4375rem;
  background: #ed5353;
}

.container span {
  color: #fff;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 144.023%;
  margin: 3vh 0rem 0rem 4.94vw;
}

.btn {
    text-decoration: none;
    width: 7.0625rem;
    height: 2.875rem;
    flex-shrink: 0;
    border-radius: 0.4375rem;
    border: 2px solid #fff;
    background: #ff6b6b;
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 1.4375rem;
    font-style: normal;
    font-weight: 500;
    line-height: 144.023%; /* 2.07031rem */
  }
  .btn:hover {
    background: #fff;
    color: #ff6b6b;
  }

  .login{
    margin-left: 70rem;
  }

  .register{
    margin-left: 2rem;
  }